*{
margin:0;
padding:0;
}
/* General Style Info */
body{
font-family:"frutiger linotype","lucida grande",helvetica,arial,sans-serif;
text-align:center;
color:#333;
font-size: 76%;
}

a{
color:#003d4c;
text-decoration:underline;
}

a:hover{
color:#003d4c;
text-decoration:none;
}

a img{
border:none;
}

h1, h2, h3, h4{
font-weight:normal;
}

h1{
color: #003d4c;
margin:0.3em 0;
font-size: 180%;
}

h2{
color:#c6c65b;
padding-top: 1em;
margin:0.3em 0;
font-size: 180%;
}

h3{
color:#c6c65b;
padding-top:2em;
font-size: 140%;
}

h4{
color:#c6c65b;
padding-top:0.5em;
font-weight:normal;
}

em {
font-size: 12px;
}

ul, li {
margin: 0 12px;
}

/* Layout */
#container{
text-align:left;
}

#header{
margin-top: 1em;
padding: 4px 20px;
}

#content{
clear:both;
padding: 0px 40px 10px 40px;
background-color: #fff;
color: #333;
overflow: hidden;
}

#footer{
clear:both;
padding: 6px 10px;
text-align: right;
}

/* tables */
table {
width: 100%;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom: 1px solid #ccc;
color:#333;
background-color: #fff;
clear:both;
margin-bottom: 10px;
}

th {
background-color: #f2f2f2;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
text-align: center;
padding:1px 4px;
}

table tr td {
border-right: 1px solid #ddd;
padding:4px 4px;
vertical-align:top;
text-align: center;
}

table tr.altRow td {
background: #f4f4f4;
}
td a{
padding: 0 4px;
}

#cakeSqlLog td {
text-align: left;
padding: 4px 8px;
background: #fff;
border-bottom: 2px solid #ccc;
}

/* scaffold show */
dl {
line-height:2em;
margin:0em 1em;
float:left;
width: 400px;
}

dt {
font-weight: bold;
vertical-align:top;
}

dd {
margin-left:10em;
margin-top:-2em;
vertical-align:top;
}

div.related {
clear:both;
display:block;
}

/* forms */
form {
margin-top: 0em;
padding: 0;
float: left;
}

form div{
vertical-align: text-top;
margin-left: 1em;
margin-bottom:2em;
overflow: auto;
}

form div.date{
margin-left: 0em;
}

label {
display: block;
float:left;
width: 140px;
font-size: 14px;
padding-right: 20px;
}

input[type=checkbox] {
float: left;
clear: left;
margin: 2px 6px 7px 2px;
}

input, textarea {
clear: both;
display:block;
font-size: 14px;
font-family: inherit;
}

select {
clear: both;
vertical-align: text-bottom;
font-size: 14px;
font-family: inherit;
}

option {
font-size: 14px;
font-family: inherit;
padding: 0 0.3em;
}

input[type=submit] {
display: inline;
vertical-align: bottom;
}

form .required, form .optional{
clear:both;
padding: 10px;
margin-bottom:10px;
min-height:15px;
}

.required{
color:#333;
font-weight:bold;
background: #f2f2f2;
}

.optional{
color:#444;
background: #f8f8f8;
}

.submit {
clear: both;
margin-top: 10px;
margin-left: 140px;
}

/* notices and errors */
#flashMessage, .error, .error_message {
color:#900;
font-size: 16px;
margin: 8px 0px;
font-weight: bold;
}

.error_message {
clear: both;
}

.error em {
font-size: 18px;
color: #003d4c;
}

.notice {
color: #656565;
font-size: 14px;
background-color: #f4f4f4;
padding: 0.5em;
margin: 1em 0;
display:block;
}

.tip {
color: #656565;
background-color: #ddd;
}

/* action links */
ul.actions {
float: left;
margin: 0px 20px;
width: 200px;
}

ul.actions li {
margin: 4px 0;
list-style-type: circle;
}


/* others */
pre {
padding: 1em;
}