*{
margin:0;
padding:0;
}

body{
font-family:"frutiger linotype","lucida grande",helvetica,arial,sans-serif;
font-size:76%;
text-align:center;
color:#333;
}

/*
*  General Style Info
*/

a{
color:#003d4c;
text-decoration:underline;
}
a:hover{
color:#003d4c;
text-decoration:none;
}

a img{
border:none;
}

h1, h2, h3, h4{  
font-weight:normal;
}

h1{ 
color: #003d4c;
padding:0.3em 0;
}

h2{ 
color:#c6c65b;
padding-top: 1em;
margin:0.3em 0;
}

h3{
color:#c6c65b;
padding-top:0.5em;
}

h4{
color:#c6c65b;
padding-top:0.5em;
font-weight:normal;
}  

em {
 font-size: 12px;
}

ul, li {
margin: 0 12px;
}

/*
*  Layout
*/

#container{
text-align:left;
}

#header{
padding: 4px 20px;
}

#content{ 
clear:both;
padding: 10px 40px;  
background-color: #fff;
color: #333; 
line-height: 18px;
}
#footer{   
clear:both;
padding: 6px 10px;
text-align: right;
}

/* tables */
table {
  width: 100%;
  border-top: 1px solid #ccc; 
  border-left: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
  color:#333;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}
th {
  background-color: #e2e2e2;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #003d4c;
  border-bottom: 1px solid #003d4c;
  text-align: center;
  padding:1px;
}
table tr td {
  border-right: 1px solid #ddd;
  padding:4px 4px;
  vertical-align:top;
  text-align: center;
}
table tr.altRow td {
  background: #f4f4f4;
}
#cakeSqlLog td { 
 text-align: left;
 padding: 4px 8px;
 background: #fff;
 border-bottom: 2px solid #ccc;   
}

/* scaffold show */


div.related {
  clear:both;
  display:block;
}
dl {
  line-height:2em;
  margin:0em 1em;
  float:left;
  width: 400px;
}
dt {
  font-weight: bold;
  vertical-align:top;
}
dd {
  margin-left:10em;
  margin-top:-2em;
  vertical-align:top;
}

/* notices and errors */

#flashMessage{
color:#300;
background:#ffe;
border:1px solid #060;
margin:10px;
padding:10px;
}

.error, error_message {
  color:#900;
  font-size: 18px;
  background-color: #fff;
  margin: 8px 4px;
}
.error em {
  font-size: 18px;
  color: #003d4c;
}   

.notice { 
  color: #656565;
  font-size: 14px;
  background-color: #f4f4f4;  
  padding: 4px;
  display:block;
}

.tip {
  color: #e32000;
  background-color: #ddd;
} 
 
form div{ 
vertical-align: text-top; 
margin-left: 2em;
margin-bottom:1em;
} 
label { 
display: block;
float:left;
width: 140px;
}
input,textarea {
clear: both;
display:block;
} 
select {
vertical-align: text-top;
}
.required{
color:#222;
font-weight:bold;
}

.optional{
color:#666;
}
 
.submit {   
  clear: both;
  margin-top: 18px;
  margin-left: 140px;   
}


/* action links */
ul.actions {
  float:left;
  margin-left: 10px;
  width: 200px;
} 
ul.actions li {
  margin-top: 4px;
}