# Define the line ending behavior of the different file extensions
# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto
* text eol=lf

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.php text
*.default text
*.ctp text
*.md text
*.po text
*.js text
*.css text
*.ini text
*.txt text
*.xml text

# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf

# Declare files that will always have LF line endings on checkout.
*.pem eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mo binary

# Remove files for archives generated using `git archive`
appveyor.yml export-ignore
CONTRIBUTING.md export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
Makefile export-ignore
phpunit.xml.dist export-ignore
.travis.yml export-ignore
.scrutinizer.yml export-ignore
.stickler.yml export-ignore
tests/test_app export-ignore
tests/TestCase export-ignore
.github export-ignore
