Andy Dawson <andydawson76@gmail.com> <andydawson76@yahoo.co.uk>
Andy Dawson <andydawson76@gmail.com> AD7six
Adnan Sarela <admad.coder@gmail.com>
Florian Krämer <florian.kraemer@cakedc.com> <florian.kraemer@cakedc.com>
Graham Weldon <graham@grahamweldom.com> <graham@grahamweldon.com>
Joël Perras <joel.perras@gmail.com>
José Lorenzo Rodríguez <jose.zap@gmail.com> <lorenzo@Venus-2.local>
José Lorenzo Rodríguez <jose.zap@gmail.com> José Lorenzo Rodríguez
Juan Basso <jrbasso@gmail.com> <juan.basso@digitro.com.br>
Kyle Robinson Young <kyle@dontkry.com> <kyle@kyletyoung.com>
Larry Masters <phpnut@cakephp.org> <phpnut@gmail.com>
Larry Masters <phpnut@cakephp.org> phpnut
Mariano Iglesias <mariano@cricava.com> <mariano.iglesias@3807eeeb-6ff5-0310-8944-8be069107fe0>
Mark Scherer <euromark@web.de>
Mark Story <mark@mark-story.com> <mark@freshbooks.com>
Mark Story <mark@mark-story.com> mark_story
Mark Ypes <c33ram@gmail.com> <mayl@planet.nl>
Mark Ypes <c33ram@gmail.com> ceeram
Rachman Chavik <rchavik@xintesa.com> <rchavik@gmail.com>
Rachman Chavik <rchavik@xintesa.com> rchavik
Renan Gonçalves <renan.saddam@gmail.com>
