language: php

dist: xenial

services:
  - memcached
  - redis-server
  - postgresql
  - mysql

addons:
  postgresql: '9.6'

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.4

env:
  matrix:
    - DB=mysql DB_URL='mysql://root@127.0.0.1/cakephp_test?init[]=SET sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"'
    - DB=pgsql DB_URL='postgres://postgres@127.0.0.1/cakephp_test'
    - DB=sqlite DB_URL='sqlite:///:memory:'

matrix:
  include:
    - php: 7.2
      env: PREFER_LOWEST=1
    - php: nightly
      env: DB=sqlite DB_URL='sqlite:///:memory:'

before_install:
  - echo cakephp version && tail -1 VERSION.txt

  - if [[ $DB == 'mysql' ]]; then mysql -u root -e 'CREATE DATABASE cakephp_test CHARACTER SET utf8mb4;'; fi
  - if [[ $DB == 'pgsql' ]]; then psql -c 'CREATE DATABASE cakephp_test;' -U postgres; fi

  - |
      if [[ $TRAVIS_PHP_VERSION == '7.4' ]]; then
        pecl channel-update pecl.php.net
        pecl install pcov
      fi

  - |
      phpenv config-rm xdebug.ini
      if [[ $TRAVIS_PHP_VERSION != 'nightly' ]]; then
        echo 'extension = memcached.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
        echo 'extension = redis.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
        echo 'extension = apcu.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
        echo 'apc.enable_cli = 1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
      fi

  - sudo locale-gen da_DK.UTF-8

install:
  - |
      if [[ $PREFER_LOWEST == 1 ]]; then
        composer update --prefer-lowest --prefer-stable --no-interaction
      elif [[ $TRAVIS_PHP_VERSION == 'nightly' ]]; then
        composer install --no-interaction --ignore-platform-reqs
      else
        composer install --no-interaction
      fi

script:
  - |
      if [[ $TRAVIS_PHP_VERSION == '7.4' ]]; then
        export CODECOVERAGE=1 && vendor/bin/phpunit --verbose --coverage-clover=clover.xml
      else
        vendor/bin/phpunit
      fi

after_success:
  - if [[ $TRAVIS_PHP_VERSION == '7.4' ]]; then bash <(curl -s https://codecov.io/bash); fi

notifications:
  email: false
