<?xml version="1.0"?>
<ruleset name="CakePHP Core">
 <rule ref="./vendor/cakephp/cakephp-codesniffer/CakePHP/ruleset.xml"/>

 <!-- Necessary for class aliases used for backwards compat -->
 <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
  <severity>0</severity>
 </rule>
</ruleset>
