includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		-
			identifier: include.fileNotFound

services:
	-
		class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
			- phpstan.broker.propertiesClassReflectionExtension
