includes:
	- phpstan-baseline.neon

rules:
	- Symplify\PHPStanRules\Rules\Explicit\NoMixedPropertyFetcherRule
	- Symplify\PHPStanRules\Rules\Explicit\NoMixedMethodCallerRule

parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics

services:
	-
		class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
			- phpstan.broker.propertiesClassReflectionExtension
