parameters:
    autoload_files:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Function wincache_ucache_[a-zA-Z0-9_]+ not found#'
        - '#Constructor of class Cake\\[a-zA-Z0-9_\\]+ has an unused parameter#'
        - '#Access to undefined constant Memcached::OPT_CLIENT_MODE#'
        - '#Access to undefined constant Memcached::DYNAMIC_CLIENT_MODE#'
        - '#Access to undefined constant PDO::SQLSRV_ATTR_ENCODING#'
        - '#Access to undefined constant PDO::SQLSRV_ENCODING_BINARY#'
        - '#Access to an undefined property Psr\\Http\\Message\\UriInterface::\$webroot#'
        - '#Access to an undefined property Psr\\Http\\Message\\UriInterface::\$base#'
        - '#Access to an undefined property Exception::\$queryString#'
        - '#Access to an undefined property PHPUnit\\Framework\\Test::\$fixtureManager#'
        - '#Call to an undefined method Traversable::getArrayCopy().#'
        - '#Cannot call method lastInsertId\(\) on null#'
        - '#Access to an undefined property Cake\\Mailer\\Email::\$request#'
        - '#Access to an undefined property Cake\\Mailer\\Email::\$response#'
        - '#Call to an undefined method Cake\\Auth\\Storage\\StorageInterface::getConfig\(\)#'
        - '#Call to an undefined method Cake\\Auth\\Storage\\StorageInterface::setConfig\(\)#'
        - '#Variable \$_SESSION in isset\(\) always exists and is not nullable#'
        - '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject#'
        - '#Access to an undefined static property Cake\\Mailer\\Email::\$_dsnClassMap#'
        - '#PHPDoc tag @throws with type PHPUnit\\Exception|Throwable is not subtype of Throwable#'
        - '#Part \$field \(array|string\) of encapsed string cannot be cast to string#'
        - '#Binary operation "\+" between array|false and array results in an error#'
        - '#Result of method Cake\\Auth\\BaseAuthenticate::unauthenticated\(\) \(void\) is used#'
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort

services:
    -
        class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
