parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: src/Auth/DigestAuthenticate.php

		-
			message: "#^Constructor of class Cake\\\\Auth\\\\Storage\\\\SessionStorage has an unused parameter \\$response\\.$#"
			count: 1
			path: src/Auth/Storage/SessionStorage.php

		-
			message: "#^PHPDoc tag @mixin contains invalid type Cake\\\\Core\\\\InstanceConfigTrait\\.$#"
			count: 1
			path: src/Auth/Storage/StorageInterface.php

		-
			message: "#^Access to undefined constant Memcached\\:\\:DYNAMIC_CLIENT_MODE\\.$#"
			count: 1
			path: src/Cache/Engine/MemcachedEngine.php

		-
			message: "#^Access to undefined constant Memcached\\:\\:OPT_CLIENT_MODE\\.$#"
			count: 1
			path: src/Cache/Engine/MemcachedEngine.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Collection.php

		-
			message: "#^Call to an undefined method Traversable\\:\\:getArrayCopy\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/ExtractIterator.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/NestIterator.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/NoChildrenIterator.php

		-
			message: "#^Parameter \\#1 \\$items of class Cake\\\\Collection\\\\Iterator\\\\TreePrinter constructor expects RecursiveIterator, Iterator\\<mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection/Iterator/TreeIterator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/TreeIterator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/TreePrinter.php

		-
			message: "#^Method Cake\\\\Collection\\\\Iterator\\\\ZipIterator\\:\\:toArray\\(\\) should return array but returns array\\<array, array\\>\\.$#"
			count: 1
			path: src/Collection/Iterator/ZipIterator.php

		-
			message: "#^Parameter \\#1 \\$iterator of method MultipleIterator\\:\\:attachIterator\\(\\) expects Iterator, Traversable given\\.$#"
			count: 1
			path: src/Collection/Iterator/ZipIterator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/ZipIterator.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 2
			path: src/Command/I18nExtractCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsCopyCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsRemoveCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsSymlinkCommand.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Console/ConsoleOptionParser.php

		-
			message: "#^Dead catch \\- Cake\\\\Console\\\\Exception\\\\StopException is never thrown in the try block\\.$#"
			count: 1
			path: src/Console/ShellDispatcher.php

		-
			message: "#^Property Cake\\\\Controller\\\\Controller\\:\\:\\$request \\(Cake\\\\Http\\\\ServerRequest\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Controller/Controller.php

		-
			message: "#^Property Cake\\\\Controller\\\\Controller\\:\\:\\$response \\(Cake\\\\Http\\\\Response\\) does not accept Psr\\\\Http\\\\Message\\\\ResponseInterface\\.$#"
			count: 1
			path: src/Controller/Controller.php

		-
			message: "#^Property Cake\\\\Controller\\\\Controller\\:\\:\\$response \\(Cake\\\\Http\\\\Response\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Controller/Controller.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\Controller\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Controller/ControllerFactory.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\ControllerFactory\\:\\:getControllerClass\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Controller/ControllerFactory.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\ControllerFactory\\:\\:missingController\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 2
			path: src/Controller/ControllerFactory.php

		-
			message: "#^PHPDoc tag @param for parameter \\$object with type TObject is not subtype of native type object\\.$#"
			count: 1
			path: src/Core/ObjectRegistry.php

		-
			message: "#^Property Cake\\\\Database\\\\Driver\\:\\:\\$_connection \\(PDO\\) does not accept null\\.$#"
			count: 2
			path: src/Database/Driver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Database/Driver.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Database/Driver/Mysql.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Database/Driver/Mysql.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Database/Driver/Postgres.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Database/Driver/Postgres.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Database/Driver/Sqlite.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Database/Driver/Sqlite.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Database/Driver/Sqlserver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Database/Driver/Sqlserver.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 8
			path: src/Database/Expression/QueryExpression.php

		-
			message: "#^PHPDoc type array\\<string\\|null\\> of property Cake\\\\Database\\\\Expression\\\\TupleComparison\\:\\:\\$_type is not covariant with PHPDoc type string\\|null of overridden property Cake\\\\Database\\\\Expression\\\\ComparisonExpression\\:\\:\\$_type\\.$#"
			count: 1
			path: src/Database/Expression/TupleComparison.php

		-
			message: "#^Access to an undefined property Exception\\:\\:\\$queryString\\.$#"
			count: 1
			path: src/Database/Log/LoggingStatement.php

		-
			message: "#^PHPDoc type PDOStatement of property Cake\\\\Database\\\\Statement\\\\PDOStatement\\:\\:\\$_statement is not covariant with PHPDoc type Cake\\\\Database\\\\StatementInterface of overridden property Cake\\\\Database\\\\Statement\\\\StatementDecorator\\:\\:\\$_statement\\.$#"
			count: 1
			path: src/Database/Statement/PDOStatement.php

		-
			message: "#^Property PDOStatement\\:\\:\\$queryString \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Database/Statement/PDOStatement.php

		-
			message: "#^Static property Cake\\\\Datasource\\\\ConnectionManager\\:\\:\\$_registry \\(Cake\\\\Datasource\\\\ConnectionRegistry\\) in isset\\(\\) is not nullable\\.$#"
			count: 2
			path: src/Datasource/ConnectionManager.php

		-
			message: "#^Cannot unset offset 'args' on array\\{path\\: string, reference\\: mixed\\}\\.$#"
			count: 1
			path: src/Error/Debugger.php

		-
			message: "#^Cannot unset offset 'object' on array\\{path\\: string, reference\\: mixed\\}\\.$#"
			count: 1
			path: src/Error/Debugger.php

		-
			message: "#^Constructor of class Cake\\\\Error\\\\Renderer\\\\ConsoleExceptionRenderer has an unused parameter \\$request\\.$#"
			count: 1
			path: src/Error/Renderer/ConsoleExceptionRenderer.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Event/EventManager.php

		-
			message: "#^Call to function unset\\(\\) contains undefined variable \\$directory\\.$#"
			count: 2
			path: src/Filesystem/Folder.php

		-
			message: "#^Call to function unset\\(\\) contains undefined variable \\$iterator\\.$#"
			count: 2
			path: src/Filesystem/Folder.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Http/BaseApplication.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Client.php

		-
			message: "#^Parameter \\$ch of method Cake\\\\Http\\\\Client\\\\Adapter\\\\Curl\\:\\:exec\\(\\) has invalid type CurlHandle\\.$#"
			count: 1
			path: src/Http/Client/Adapter/Curl.php

		-
			message: "#^Parameter \\$handle of method Cake\\\\Http\\\\Client\\\\Adapter\\\\Curl\\:\\:createResponse\\(\\) has invalid type CurlHandle\\.$#"
			count: 1
			path: src/Http/Client/Adapter/Curl.php

		-
			message: "#^Constructor of class Cake\\\\Http\\\\Client\\\\Auth\\\\Digest has an unused parameter \\$options\\.$#"
			count: 1
			path: src/Http/Client/Auth/Digest.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/Http/Cookie/Cookie.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Cookie/Cookie.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Http/Cookie/CookieCollection.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Session.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:dateAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/Date.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/Date.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:dateAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/FrozenDate.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/FrozenDate.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:timeAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/FrozenTime.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/FrozenTime.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:timeAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/Time.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/Time.php

		-
			message: "#^Static property Cake\\\\Log\\\\Log\\:\\:\\$_registry \\(Cake\\\\Log\\\\LogEngineRegistry\\) in isset\\(\\) is not nullable\\.$#"
			count: 3
			path: src/Log/Log.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Mailer/Email.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/ORM/EagerLoader.php

		-
			message: "#^Parameter \\#1 \\$assoc of method Cake\\\\ORM\\\\Marshaller\\:\\:_belongsToMany\\(\\) expects Cake\\\\ORM\\\\Association\\\\BelongsToMany, Cake\\\\ORM\\\\Association given\\.$#"
			count: 1
			path: src/ORM/Marshaller.php

		-
			message: "#^Parameter \\#2 \\$assoc of method Cake\\\\ORM\\\\Marshaller\\:\\:_mergeBelongsToMany\\(\\) expects Cake\\\\ORM\\\\Association\\\\BelongsToMany, Cake\\\\ORM\\\\Association given\\.$#"
			count: 1
			path: src/ORM/Marshaller.php

		-
			message: "#^Method Cake\\\\ORM\\\\Query\\:\\:find\\(\\) should return static\\(Cake\\\\ORM\\\\Query\\) but returns Cake\\\\ORM\\\\Query\\.$#"
			count: 1
			path: src/ORM/Query.php

		-
			message: "#^Property Cake\\\\ORM\\\\Query\\:\\:\\$_repository \\(Cake\\\\ORM\\\\Table\\) does not accept Cake\\\\Datasource\\\\RepositoryInterface\\.$#"
			count: 1
			path: src/ORM/Query.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/ORM/Query.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/ORM/ResultSet.php

		-
			message: "#^Parameter \\#1 \\$rules of method Cake\\\\ORM\\\\Table\\:\\:buildRules\\(\\) expects Cake\\\\ORM\\\\RulesChecker, Cake\\\\Datasource\\\\RulesChecker given\\.$#"
			count: 1
			path: src/ORM/Table.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:parseRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Routing/Middleware/RoutingMiddleware.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Routing/Middleware/RoutingMiddleware.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Routing/RouteBuilder.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\ConsoleIntegrationTestCase\\:\\:\\$_err \\(Cake\\\\Console\\\\TestSuite\\\\StubConsoleOutput\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/ConsoleIntegrationTestCase.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\ConsoleIntegrationTestCase\\:\\:\\$_in \\(Cake\\\\Console\\\\TestSuite\\\\StubConsoleInput\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/ConsoleIntegrationTestCase.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\ConsoleIntegrationTestCase\\:\\:\\$_out \\(Cake\\\\Console\\\\TestSuite\\\\StubConsoleOutput\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/ConsoleIntegrationTestCase.php

		-
			message: "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface\\:\\:addConstraintSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"
			count: 1
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface\\:\\:createSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"
			count: 1
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface\\:\\:dropConstraintSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"
			count: 1
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface\\:\\:dropSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"
			count: 1
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Parameter \\#1 \\$connection of method Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface\\:\\:truncateSql\\(\\) expects Cake\\\\Database\\\\Connection, Cake\\\\Datasource\\\\ConnectionInterface given\\.$#"
			count: 1
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\Fixture\\\\TestFixture\\:\\:\\$_schema \\(Cake\\\\Database\\\\Schema\\\\SqlGeneratorInterface&Cake\\\\Database\\\\Schema\\\\TableSchemaInterface\\) in isset\\(\\) is not nullable\\.$#"
			count: 2
			path: src/TestSuite/Fixture/TestFixture.php

		-
			message: "#^Parameter \\#1 \\$response of class Cake\\\\TestSuite\\\\Constraint\\\\Response\\\\CookieEncryptedEquals constructor expects Cake\\\\Http\\\\Response\\|null, Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null given\\.$#"
			count: 1
			path: src/TestSuite/IntegrationTestCase.php

		-
			message: "#^Parameter \\#1 \\$response of class Cake\\\\TestSuite\\\\Constraint\\\\Response\\\\CookieEquals constructor expects Cake\\\\Http\\\\Response\\|null, Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null given\\.$#"
			count: 1
			path: src/TestSuite/IntegrationTestCase.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\IntegrationTestCase\\:\\:\\$_layoutName \\(string\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/IntegrationTestCase.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\IntegrationTestCase\\:\\:\\$_requestSession \\(Cake\\\\Http\\\\Session\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/IntegrationTestCase.php

		-
			message: "#^Property Cake\\\\TestSuite\\\\IntegrationTestCase\\:\\:\\$_viewName \\(string\\) does not accept null\\.$#"
			count: 1
			path: src/TestSuite/IntegrationTestCase.php

		-
			message: "#^Offset 0 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Offset 1 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Offset 2 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Unsafe access to private property Cake\\\\TestSuite\\\\TestEmailTransport\\:\\:\\$messages through static\\:\\:\\.$#"
			count: 3
			path: src/TestSuite/TestEmailTransport.php

		-
			message: "#^Dead catch \\- Error is never thrown in the try block\\.$#"
			count: 1
			path: src/View/Cell.php

		-
			message: "#^Property Cake\\\\View\\\\Cell\\:\\:\\$request \\(Cake\\\\Http\\\\ServerRequest\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/View/Cell.php

		-
			message: "#^Property Cake\\\\View\\\\Cell\\:\\:\\$response \\(Cake\\\\Http\\\\Response\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/View/Cell.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/View/Form/ContextFactory.php

		-
			message: "#^Constructor of class Cake\\\\View\\\\Form\\\\NullContext has an unused parameter \\$context\\.$#"
			count: 1
			path: src/View/Form/NullContext.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/View/Helper/TimeHelper.php

