includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	phpVersion:
		min: 80200
		max: 80599
	treatPhpDocTypesAsCertain: false
	featureToggles:
		internalTag: true
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- identifier: include.fileNotFound
		- identifier: method.internalClass
		- identifier: new.internalClass
		- identifier: trait.unused
		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\MockObject\\MockBuilder\<Cake\\ORM\\Table\>\:\:addMethods\(\)\.$#'
			reportUnmatched: false

services:
	-
		class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
			- phpstan.broker.propertiesClassReflectionExtension
