parameters:
	ignoreErrors:
		-
			message: "#^Access to undefined constant Memcached\\:\\:DYNAMIC_CLIENT_MODE\\.$#"
			count: 1
			path: src/Cache/Engine/MemcachedEngine.php

		-
			message: "#^Access to undefined constant Memcached\\:\\:OPT_CLIENT_MODE\\.$#"
			count: 1
			path: src/Cache/Engine/MemcachedEngine.php

		-
			message: "#^Parameter \\#1 \\$iterator of class LimitIterator constructor expects Iterator, Countable&Traversable\\<mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection/Collection.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Collection.php

		-
			message: "#^Call to an undefined method Iterator\\:\\:getArrayCopy\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/ExtractIterator.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/NestIterator.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Collection/Iterator/NoChildrenIterator.php

		-
			message: "#^Parameter \\#1 \\$items of class Cake\\\\Collection\\\\Iterator\\\\TreePrinter constructor expects RecursiveIterator, Iterator\\<mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection/Iterator/TreeIterator.php

		-
			message: "#^Parameter \\#1 \\$iterator of class LimitIterator constructor expects Iterator, Countable&Traversable\\<mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection/Iterator/TreeIterator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/TreeIterator.php

		-
			message: "#^Parameter \\#1 \\$iterator of class LimitIterator constructor expects Iterator, Countable&Traversable\\<mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection/Iterator/TreePrinter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/TreePrinter.php

		-
			message: "#^Parameter \\#1 \\$iterator of class LimitIterator constructor expects Iterator, Countable&Traversable\\<mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection/Iterator/ZipIterator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/Collection/Iterator/ZipIterator.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 2
			path: src/Command/I18nExtractCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsCopyCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsRemoveCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '/' and '\\\\\\\\' will always evaluate to false\\.$#"
			count: 1
			path: src/Command/PluginAssetsSymlinkCommand.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Console/ConsoleOptionParser.php

		-
			message: "#^Property Cake\\\\Controller\\\\Controller\\:\\:\\$response \\(Cake\\\\Http\\\\Response\\) does not accept Psr\\\\Http\\\\Message\\\\ResponseInterface\\.$#"
			count: 1
			path: src/Controller/Controller.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\Controller\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Controller/ControllerFactory.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\ControllerFactory\\:\\:getControllerClass\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Controller/ControllerFactory.php

		-
			message: "#^Parameter \\#1 \\$request of method Cake\\\\Controller\\\\ControllerFactory\\:\\:missingController\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 2
			path: src/Controller/ControllerFactory.php

		-
			message: "#^PHPDoc tag @param for parameter \\$class with type string\\|TObject is not subtype of native type object\\|string\\.$#"
			count: 1
			path: src/Core/ObjectRegistry.php

		-
			message: "#^PHPDoc tag @param for parameter \\$object with type TObject is not subtype of native type object\\.$#"
			count: 2
			path: src/Core/ObjectRegistry.php

		-
			message: "#^PHPDoc tag @return with type TObject is not subtype of native type object\\.$#"
			count: 3
			path: src/Core/ObjectRegistry.php

		-
			message: "#^PHPDoc tag @return with type TObject\\|null is not subtype of native type object\\|null\\.$#"
			count: 1
			path: src/Core/ObjectRegistry.php

		-
			message: "#^Property Cake\\\\Core\\\\ObjectRegistry\\<TObject\\>\\:\\:\\$_loaded \\(array\\<TObject\\>\\) does not accept array\\<object\\|TObject\\>\\.$#"
			count: 1
			path: src/Core/ObjectRegistry.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 8
			path: src/Database/Expression/QueryExpression.php

		-
			message: "#^Access to an undefined property Exception\\:\\:\\$queryString\\.$#"
			count: 1
			path: src/Database/Log/LoggingStatement.php

		-
			message: "#^PHPDoc type PDOStatement of property Cake\\\\Database\\\\Statement\\\\PDOStatement\\:\\:\\$_statement is not covariant with PHPDoc type Cake\\\\Database\\\\StatementInterface of overridden property Cake\\\\Database\\\\Statement\\\\StatementDecorator\\:\\:\\$_statement\\.$#"
			count: 1
			path: src/Database/Statement/PDOStatement.php

		-
			message: "#^Property PDOStatement\\:\\:\\$queryString \\(string\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Database/Statement/PDOStatement.php

		-
			message: "#^Cannot unset offset 'args' on array\\{path\\: string, reference\\: mixed\\}\\.$#"
			count: 1
			path: src/Error/Debugger.php

		-
			message: "#^Cannot unset offset 'object' on array\\{path\\: string, reference\\: mixed\\}\\.$#"
			count: 1
			path: src/Error/Debugger.php

		-
			message: "#^PHPDoc tag @param for parameter \\$subject with type TSubject\\|null is not subtype of native type object\\|null\\.$#"
			count: 1
			path: src/Event/Event.php

		-
			message: "#^PHPDoc tag @return with type TSubject is not subtype of native type object\\.$#"
			count: 1
			path: src/Event/Event.php

		-
			message: "#^PHPDoc tag @var for property Cake\\\\Event\\\\Event\\:\\:\\$_subject with type TSubject\\|null is not subtype of native type object\\|null\\.$#"
			count: 1
			path: src/Event/Event.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Event/EventManager.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Http/BaseApplication.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Client.php

		-
			message: "#^Constructor of class Cake\\\\Http\\\\Client\\\\Auth\\\\Digest has an unused parameter \\$options\\.$#"
			count: 1
			path: src/Http/Client/Auth/Digest.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 3
			path: src/Http/Cookie/Cookie.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Cookie/Cookie.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Http/Cookie/CookieCollection.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Http/Session.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:dateAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/Date.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/Date.php

		-
			message: "#^Call to an undefined method Cake\\\\Chronos\\\\DifferenceFormatterInterface\\:\\:timeAgoInWords\\(\\)\\.$#"
			count: 1
			path: src/I18n/DateTime.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/I18n/DateTime.php

		-
			message: "#^Access to an undefined property Cake\\\\Mailer\\\\Renderer\\:\\:\\$request\\.$#"
			count: 1
			path: src/Mailer/Renderer.php

		-
			message: "#^Access to an undefined property Cake\\\\Mailer\\\\Renderer\\:\\:\\$response\\.$#"
			count: 1
			path: src/Mailer/Renderer.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/ORM/EagerLoader.php

		-
			message: "#^Parameter \\#1 \\$assoc of method Cake\\\\ORM\\\\Marshaller\\:\\:_belongsToMany\\(\\) expects Cake\\\\ORM\\\\Association\\\\BelongsToMany, Cake\\\\ORM\\\\Association given\\.$#"
			count: 1
			path: src/ORM/Marshaller.php

		-
			message: "#^Parameter \\#2 \\$assoc of method Cake\\\\ORM\\\\Marshaller\\:\\:_mergeBelongsToMany\\(\\) expects Cake\\\\ORM\\\\Association\\\\BelongsToMany, Cake\\\\ORM\\\\Association given\\.$#"
			count: 1
			path: src/ORM/Marshaller.php

		-
			message: "#^Method Cake\\\\ORM\\\\Query\\:\\:find\\(\\) should return static\\(Cake\\\\ORM\\\\Query\\) but returns Cake\\\\ORM\\\\Query\\.$#"
			count: 1
			path: src/ORM/Query.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/ORM/Query.php

		-
			message: "#^Parameter \\#1 \\$iterator of class LimitIterator constructor expects Iterator, Countable&Traversable\\<mixed, mixed\\> given\\.$#"
			count: 2
			path: src/ORM/ResultSet.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string\\<ArrayObject\\> and 'ArrayIterator' will always evaluate to false\\.$#"
			count: 1
			path: src/ORM/ResultSet.php

		-
			message: "#^Parameter \\#1 \\$rules of method Cake\\\\ORM\\\\Table\\:\\:buildRules\\(\\) expects Cake\\\\ORM\\\\RulesChecker, Cake\\\\Datasource\\\\RulesChecker given\\.$#"
			count: 1
			path: src/ORM/Table.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/ORM/Table.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:parseRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Routing/Middleware/RoutingMiddleware.php

		-
			message: "#^Parameter \\#1 \\$request of static method Cake\\\\Routing\\\\Router\\:\\:setRequest\\(\\) expects Cake\\\\Http\\\\ServerRequest, Psr\\\\Http\\\\Message\\\\ServerRequestInterface given\\.$#"
			count: 1
			path: src/Routing/Middleware/RoutingMiddleware.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Routing/RouteBuilder.php

		-
			message: "#^Offset 0 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Offset 1 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Offset 2 does not exist on array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/TestSuite/TestCase.php

		-
			message: "#^Unsafe access to private property Cake\\\\TestSuite\\\\TestEmailTransport\\:\\:\\$messages through static\\:\\:\\.$#"
			count: 3
			path: src/TestSuite/TestEmailTransport.php

		-
			message: "#^Dead catch \\- Error is never thrown in the try block\\.$#"
			count: 1
			path: src/View/Cell.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/View/Form/ContextFactory.php

		-
			message: "#^Constructor of class Cake\\\\View\\\\Form\\\\NullContext has an unused parameter \\$context\\.$#"
			count: 1
			path: src/View/Form/NullContext.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/View/Helper/TimeHelper.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:setTimezone\\(\\)\\.$#"
			count: 1
			path: src/View/Widget/DateTimeWidget.php

