<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apcu.enable_cli" value="1"/>
    </php>

    <testsuites>
        <testsuite name="CakePHP Test Suite">
            <directory>./tests/TestCase/</directory>
            <!-- Excludes are required in order to let DatabaseSuite decorate the tests -->
            <exclude>./tests/TestCase/Database/</exclude>
            <exclude>./tests/TestCase/ORM/</exclude>
        </testsuite>
        <testsuite name="Database Test Suite">
            <file>./tests/TestCase/DatabaseSuite.php</file>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Cake\TestSuite\Fixture\FixtureInjector" file="./src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <php>
        <!-- SQLite
        <env name="db_dsn" value="sqlite:///:memory:"/>
        -->
        <!-- Postgres
        <env name="db_dsn" value="postgres://localhost/cake_test?timezone=UTC"/>
        -->
        <!-- Mysql
        <env name="db_dsn" value="mysql://localhost/cake_test?timezone=UTC"/>
        -->
        <!-- SQL Server
        <env name="db_dsn" value="sqlserver://localhost/cake_test?timezone=UTC"/>
        -->
    </php>
</phpunit>
