parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		- "#^Template type T of method Cake\\\\Datasource\\\\QueryInterface\\:\\:all\\(\\) is not referenced in a parameter\\.$#"
		- '#Class Cake\\Database\\Driver\\.+ not found.#'
		- '#Class Cake\\Database\\Connection not found.#'
