includes:
	- phpstan-baseline.neon

parameters:
    level: 1
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - bootstrap.php
        - ../src/Collection/functions_global.php
        - ../src/Core/functions_global.php
        - ../src/Routing/functions_global.php
    paths:
        - TestCase/
    ignoreErrors:
        -
            identifier: includeOnce.fileNotFound
    excludePaths:
        - TestCase/Routing/RouterTest.php
