parameters:
	ignoreErrors:
		-
			message: '#^Attribute class PHPUnit\\Framework\\Attributes\\AllowMockObjectsWithoutExpectations does not exist\.$#'
			identifier: attribute.notFound
			reportUnmatched: false
