parameters:
	level: 1
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- bootstrap.php
	paths:
		- TestCase/Collection/
		- TestCase/Core/
		- TestCase/Database/
		- TestCase/Datasource/
		- TestCase/Event/
		- TestCase/ORM/
		- TestCase/Utility/
		- TestCase/Validation/

	earlyTerminatingMethodCalls:
		Cake\Console\Shell:
			- abort
