parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			identifier: trait.unused
		-
			identifier: missingType.iterableValue
		- '#Unsafe usage of new static\(\).#'
		- "#^Method Cake\\\\ORM\\\\Query\\\\SelectQuery\\:\\:find\\(\\) should return static\\(Cake\\\\ORM\\\\Query\\\\SelectQuery\\<TSubject of array\\|Cake\\\\Datasource\\\\EntityInterface\\>\\) but returns Cake\\\\ORM\\\\Query\\\\SelectQuery\\<TSubject of array\\|Cake\\\\Datasource\\\\EntityInterface\\>\\.$#"
		- '#^PHPDoc tag @var with type callable\(\): mixed is not subtype of native type Closure\(string\): string\.$#'

		-
			message: '#^Call to function assert\(\) with false and string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: EagerLoader.php
