parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			identifier: trait.unused
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		- '#Unsafe usage of new static\(\).#'
		- "#^Method Cake\\\\ORM\\\\Query\\\\SelectQuery\\:\\:find\\(\\) should return static\\(Cake\\\\ORM\\\\Query\\\\SelectQuery\\<TSubject of array\\|Cake\\\\Datasource\\\\EntityInterface\\>\\) but returns Cake\\\\ORM\\\\Query\\\\SelectQuery\\<TSubject of array\\|Cake\\\\Datasource\\\\EntityInterface\\>\\.$#"
		- '#^PHPDoc tag @var with type callable\(\): mixed is not subtype of native type Closure\(string\): string\.$#'
		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Association/BelongsTo.php

		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Association/HasMany.php

		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Association/HasOne.php

		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Behavior/TreeBehavior.php

		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: Marshaller.php

		-
			message: '#^Call to function method_exists\(\) with Cake\\Datasource\\EntityInterface and ''patch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Table.php
