BODY {
font-size: 76%;
}

BODY, INPUT, TEXTAREA {
font-family:sans-serif;
}

H1 {
font-size:2.1em;
color: #fff;
text-align: left;
position: absolute;
padding-left: 15%;
top: 0.35em;
left: 0;
height: 4em;
}

H2 {
font-size:1.7em;
color: #383;
}

H3 {
font-size:1.4em;
color: #553;
}

H4 {
font-size:1.15em;
color: #338;
}

P {
font-size:1em;
margin-bottom:.5em;
}

A {
white-space:nowrap;
text-decoration:underline;
}

A:HOVER {
background-color:#EEE;
}

CODE, PRE {
font-family:monospace;
font-size:1.1em !important;
font-size:.95em;
color:#44A;
margin:0;
}

CODE {
color:#227;
white-space:nowrap;
margin:0 .2em;
}

PRE {
margin-left:1em;
}

ACRONYM {
border-bottom:1px dotted;
}

HR {
height:0;
border-top:1px solid #AAA;
}


#container {
margin: 0 auto;
border-top: solid 5em #69c;
color: #333;
font: normal 1.1em Verdana;
padding: 0 15%;
}

#content {
padding-top: 1em;
width: 100%;
text-align: left;
line-height: 170%;
}

.notice {
padding: 1em;
background: #ffd;
border: solid 2px #eeb;
display: block;
font-family: Verdana;
}

.tip {
background: #efe;
padding: 1em;
border: solid 2px #cdc;
}

.error {
background: #fee;
padding: 1em;
border: solid 2px #dcc;
}
