body 
{
	font:small "Trebuchet MS",Verdana,Arial,Sans-serif;
	background: #E5EDEC url(../img/bg_fade.gif) bottom left fixed repeat-x; 
}

ul{}
li{}

h1
{
	color: #71300F;
	font-size: 30px;
}

h1 em {
	color: #DBA941;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;	
}

h2
{
	color: #71300F;
}

h2 em {
	color: #DBA941;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;	
}

hr
{
	border-top: 1px dotted #FF96F3;
	height: 0px;
}

ul
{
	list-style-image: url(../img/red_box.gif);
}

#main 
{
	position: absolute;
	width: 605px;
	margin-left: -302.5px;
	left: 50%;
	top: 0px;
	background-color: #fff;
	border-left: 1px solid #516067;
	border-right: 1px solid #516067;
	border-bottom: 1px solid #516067;
	padding: 15px;
}

#header
{
	position: relative;
	top: -15px;
	left: -15px;
	width: 635px;
	height: 131px;
	background: #fff url(../img/bg_header.gif) repeat-x;
	margin-bottom: -20px;
}

#headerLogo
{
	position: absolute;
	top: 0px;
	left: -30px;
}

#headerNav
{
	position: absolute;
	right: 15px;
	top: 63px;
}

#headerNav a {
	padding: 10px;
}

a
{
	color: #A20B10;
	text-decoration: none;	
}

a:hover
{
	color: #D33C47;
	text-decoration: underline;
	
}

#footer
{
	position: relative;
	bottom: -15px;
	left: -15px;
	width: 615px;
	background-color: #71300F;
	color: #fff;
	font-size: 75%;
	padding: 10px;
}

.navActive {
	background-color: #D2D7D8;
}