/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
	font: 76% Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}
h1 {
font-size:2.1em;
color: #69c;
}
h2 {
font-size:1.7em;
color: #383;
clear: both;
}

h3 {
font-size:1.4em;
color: #553;
}
h4 {
font-size:1.15em;
color: #338;
}
a {
white-space:nowrap;
text-decoration:underline;
}
a:hover {
background-color:#EEE;
}
code, pre {
font-family:monospace;
font-size:1.15em;
color:#44A;
}
code {
color:#227;
white-space:nowrap;
margin:0 .2em;
}
pre {
margin-left:1em;
}
acronym {
border-bottom:1px dotted #666;
}
ul {
margin-top:1em;
list-style:none;
}
li {
margin-left:2em;
}
#container {
margin: 2em auto;
color: #333;
width:80%;
}
.notice {
padding: 1em;
background: #ffd;
border: solid 2px #eeb;
display: block;
font-family: Verdana;
}

.tip {
background: #efe;
padding: 1em;
border: solid 2px #cdc;
}
.error {
background: #fee;
padding: 1em;
border: solid 2px #dcc;
}
ul.actions {
        list-style: none;
        text-align:right;
        margin:2em 0;
        float:left;
}

ul.actions li {
        border: 1px solid #333;
        width:10em;
        float:left;
        margin-left:1em;
}

ul.actions li a,  ul.actions li input {
        text-align:center;
        font-weight: bold;
        color: #fff;
        background-color:#3297FC;
        display:block;
        clear: both;
        text-decoration: none;
        border:1px solid #3297FC;
}

td.listactions {
        width:17em;
}

td.listactions a {
        text-align:center;
        font-weight: bold;
        color: #fff;
        background-color:#3297FC;
        display:block;
        float:left;
        text-decoration: none;
        margin-bottom:3px;
        margin-right: 3px;
        border: 1px;
        width:5em;
}

table {
    width: 100%;
    border: 1px solid #686E74;
    margin: 1em 0 2em 0;
    background-color: #fff;
}
th {
    background-color: #ccc;
    text-align: left;
    border-top: 1px solid #fff;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    padding:3px;
}
table tr td {
    padding:2px 0;
    border-right: 1px solid #ccc;
    vertical-align:top;
}
table tr.altRow td {
    background: #EBF4FD;
}

dl {
line-height:2em;
margin:1em;
}
dt {
font-weight: bold;
vertical-align:top;
}
dd {
margin-left:10em;
margin-top:-2em;
vertical-align:top;
}