parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			identifier: trait.unused
		-
			identifier: missingType.iterableValue
		- "#^Parameter \\#1 \\$objectOrClass of class ReflectionEnum constructor expects class\\-string\\<UnitEnum\\>\\|UnitEnum, class\\-string given\\.$#"
