body 
{
	margin: 4px 30px;
	font: 13px "Trebuchet MS",Verdana,Arial,Sans-serif;
	background-color: #51230B;
	line-height: 18px;
}

h1
{
	margin: 4px;
	padding: 0;
	color: #71300F;
	font-size: 30px;
}

h1 em {
	color: #DBA941;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;	
}

h2
{
	margin-top: 20px;
	margin-bottom: 6px;
	padding: 0;
	color: #71300F;
}

h2 em {
	color: #DBA941;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;	
}
h3
{
	margin-top: 20px;
	margin-bottom: 6px;
	color: #71300F;
}
acronym
{
	border-bottom: 1px dotted #DBA941;
}

ul
{
	font-family: Helvetica;
	margin-top: 2px;
	margin-bottom: 6px;
	padding: 2px 30px;
}
ul li
{
	list-style-image: url("../img/cake.redbox.gif");
	margin-bottom: 8px;
	
}
p
{
	font-family: Helvetica;
	margin-top: 2px;
	margin-left: 4px;
	margin-bottom: 6px;
}

#container 
{
	margin-bottom: 20px;
	border: 5px solid #fff;
	background-color: #EBEDEE;
}

#header
{
	padding: 0px;
	height: 114px;
	background: #fff url("../img/cake.bg.header.gif") repeat-x;
	border-bottom: 1px solid #D2D7D8;
	margin-bottom: 30px;
	text-align: right;
}
#header img
{
	float: left;
	vertical-align: middle;
	border: 0;
}
.headerNav
{
	float: right;
	margin-top: 3px;
	padding-right: 30px;
	font-size: 13px;
	font-weight: bold;
	color: #71300F;
}

.headerNav a {
	padding: 4px 10px;
}
.headerNav a:hover {
	padding: 4px 10px;
	background-color: #fff;	
}
.headerNav .active {
	padding: 4px 10px;
	background-color: #fff;
}
#pageNav {
	clear: both;
	margin-top: 0px;
	margin-right: 30px;
	margin-left: 30px;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
	color: #71300F;
}

#pageNav a {
	padding: 4px 10px;
	border-top: 1px solid #EBEDEE;
	border-left: 1px solid #EBEDEE;
	border-right: 1px solid #EBEDEE;
}
#pageNav a:hover {
	padding: 4px 10px;
	background-color: #fff;
	border-top: 1px solid #D2D7D8;
	border-left: 1px solid #D2D7D8;
	border-right: 1px solid #D2D7D8;
}
#pageNav .active {
	padding: 4px 10px;
	background-color: #fff;
	border-top: 1px solid #D2D7D8;
	border-left: 1px solid #D2D7D8;
	border-right: 1px solid #D2D7D8;
}
#content 
{
	clear: both;
	margin: 2px 20px 20px 20px;
	padding: 20px 28px 40px 22px;
	background-color: #fff;
	border-top: 1px solid #D2D7D8;
	border-left: 1px solid #D2D7D8;
	border-right: 1px solid #D2D7D8;
	border-bottom: 1px solid #D2D7D8;
}
a
{
	color: #71300F;
	text-decoration: none;
	font-weight: bold;	
}

a:hover
{
	color: #71300F;
	text-decoration: underline;
	font-weight: bold;
}

#footer
{
	padding-bottom: 0px;
	text-align: right;	
}
/***Please Leave Powered by Cake****/
#pb-cake {
	margin-bottom: 20px;
	padding-right: 6px;
	text-align: center;
}
#pb-cake a {
	padding: 0;
	border: 0;
}
