* {
margin:0;
padding:0;
}

/* General Style Info */
body {
	background-color: #2C6877;
	color: #fff;
	font-family: "frutiger linotype", "lucida grande", "helvetica", "arial", sans-serif;
	font-size: 76%;
}
a {
	background-color: #fff;
	color: #003d4c;
	text-decoration: underline;
}
a:hover {
	background-color: #fff;
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
}
em {
	font-size: 12px;
}
h1, h2, h3, h4 {
	background-color: #fff;
	font-weight:normal;
}
h1 {
	color: #003d4c;
	font-size: 180%;
	margin: 0.3em 0;
}
h2 {
	color: #2C6877;
	font-size: 180%;
	margin: 0.3em 0;
	padding-top: 1em;
}
h3 {
	color: #c6c65b;
	font-size: 140%;
	padding-top: 2em;
}
h4 {
	color: #c6c65b;
	font-weight: normal;
	padding-top: 0.5em;
}
ul, li {
	margin: 0 12px;
}

/* Layout */
#container {
	text-align: left;
}

#header{
	background-color: #2C6877;
	padding: 10px 20px 0 20px;
	height: 83px;
}
#header h1 { 
	color: #ffffff;
	background: url('../img/cake.icon.png') no-repeat;
	padding: 5px 50px;
	height: 60px;
}
#header h1 a { 
	color: #ffffff;
	background: #2C6877;
	text-decoration: none;
}
#header h1 a:hover { 
	color: #ffffff;
	background: #003d4c;
	text-decoration: none;
}
#content{
	background-color: #fff;
	clear: both;
	color: #333;
	padding: 0px 40px 40px 40px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/* Tables */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 1px 4px;
	text-align: center;
}
table tr td {
	border-right: 1px solid #ddd;
	padding: 4px 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	white-space: nowrap;
}
td.actions a {
	padding: 0 6px;
}
#cakeSqlLog td {
	background: #fff;
	border-bottom: 2px solid #ccc;
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 50%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	margin-top: 0;
	margin-right: 20px;
	padding: 0;
	width: 50%;
}
form div {
	border: 1px solid #ddd;
	clear: both;
	margin-bottom: 1em;
	padding: .8em 2em 1em 1.4em;
	vertical-align: text-top;
}
form div.required {
	color: #333;
	background: #f2f2f2;
	font-weight: bold;
}
form div.optional, form div.input {
	background: #f6f6f6;
	color: #444;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 14px;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	display: block;
	font-size: 14px;
	width: 100%;
}
select {
	clear: both;
	font-size: 14px;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 14px;
	padding: 0 0.3em;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 2px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	padding: 0 .4em;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message, p.error, div.error-message {
	color: #900;
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0px;
}
div.error-message {
	clear: both;
}
div.error em {
	font-size: 18px;
	color: #003d4c;
}
span.notice {
	background-color: #c6c65b;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 0.5em;
	margin: 1em 0;
}

/* Actions */
div.actions {
	position: absolute;
	top: 75px;
	left: 25px;
	text-align: left;
}
div.actions ul {
	margin: 0;
	padding: 2px 6px;
	list-style-type: none;
	display: inline;
}
div.actions li {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 3px 0px;
	padding: 0px 2px;
}
div.actions ul li a{
	background: #003d4c;
	border: 0px solid #656565;
	border-width: 1px 1px 0px 1px;
	color: #ddd;
	padding: 3px 8px;
	text-decoration: none;
}
div.actions ul li a:hover {
	background:#fff;
	color: #003d4c;
}

/* Related */
div.related {
	clear: both;
	display: block;
}
div.related div.actions {
	position: relative;
	top: 4px;
	left: 0;
	text-align: left;
}
div.related div.actions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.related div.actions li {
	list-style-type: none;
	margin: 0 0 4px 0px;
	padding: 0;
}
div.related div.actions ul li a {
	background:#fff;
	color: #2C6877;
	padding: 0;
	text-decoration: underline;
}
div.related div.actions ul li a:hover {
	background:#fff;
	color: #2C6877;
	text-decoration: none;
}

/* Debugging */
pre {
	padding: 1em;
}

pre.cake_debug {
	margin: 2px;
	font-size: 12px;
	line-height: 18px;
}

div.cake-stack-trace {
	margin: 2px 2px 0 2px;
	font-size: 12px;
	line-height: 18px;
}

div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	border: 1px dotted #606060;
	padding: 2px 0 2px 5px;
	margin: 0px 4px 5px 5px;
}

div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 5px;
	margin: 0;
	padding: 0 0 10px 0;
}

div.cake-code-dump pre {
	padding: 7px 8px;
	margin: 1px 4px 2px 6px;
}

div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
}
