/* CSS Document */
@import url("cake.forms.css");

* {
  padding:0;
  margin:0;
}
body {
  font: 76% Verdana, Arial, Sans-serif;
  color: #333;
}
img {
  border:0;
}
#wrapper {
 text-align:left;
}
#header {
  height: 101px;
  background: #0D5087 url(../img/cake.header_bg.png) repeat-x left top;
  border-bottom: 1px solid #000;
}
#content {
 min-height:400px;
  background-color: #fff;
  padding:2em 4em;
}
#footer {
 text-align:center;
 padding:1em 0;
 font-size:smaller;
 border-top:1px solid #333;
 background-color: #063260;
 color:#fff;
 line-height:1.5;
}
#footer a {
 color:#fff;
}

h1, h2, h3, h4 {
padding-bottom:0.5em;
}
h1 {
  font-family:"Trebuchet MS",Verdana,Arial,Sans-serif;
}
h1, a  {
  color:#DB8101;
}
h1 em, a em  {
    color:#008BCC;
    font-style: normal;
}
ul.colored a em
h2 {
    font-style: italic;
    font-weight: bold;
    color:#666;
}
a:hover, a:hover em {
color:#A22424;
text-decoration:none;
}
#content p, #content ul, #content ol {
line-height:1.5;
padding-bottom:1em;
}
ul, ol {
margin-left:3em;
}

/* tables */

table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #333;
  clear:both;
  margin: 0 0 2em 0;
  white-space: normal;
}
th {
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  text-align: center;
  padding:3px;
}
table tr td {
  border-right: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: center;
}
table tr.altRow td {
  background: #f4f4f4;
}

/* scaffold show */


div.related {
  clear:both;
  display:block;
}
dl {
  line-height:2em;
  margin:1em;
}
dt {
  font-weight: bold;
  vertical-align:top;
}
dd {
  margin-left:10em;
  margin-top:-2em;
  vertical-align:top;
}

/* scaffold buttons */


.notice {
  color: #DB8101;
  background-color: #ddd;
  display: block;
  padding: 1em;
}
.tip {
  color: #DB8101;
  background-color: #ddd;
  display: block;
  padding: 1em;
}

ul.actions {
  list-style: none;
  text-align:left;
  margin:2em 0;
  padding: 0;
}
ul.actions li {
  margin-left:1em;
  list-style: none;
  display: inline;
}
ul.actions li a,  ul.actions li input {
  padding: 2px 12px;
  color: #DB8101;
  background-color:#ccc;
  text-decoration: none;
  border: 1px solid #666;
  line-height: 24px;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
}
ul.actions li a:hover {
  color: #DB8101;
  background-color:#fff;
  text-decoration: none;
}
td.listactions {
  width: 14em;
  text-align: center;
  white-space: nowrap;
}
td.listactions a {
  padding: 0px 8px;
  text-align:center;
  font-weight: bold;
  color: #DB8101;
  background-color:#ccc;
  text-decoration: none;
  border: 1px solid #666;
  white-space: nowrap;
}
td.listactions a:hover {
  color: #fff;
  background-color:#DB8101;
}

/* index links */

ul.colored a {

}
ul.colored a em {

}

a {
font-weight: bold;
}