*{
margin:0;
padding:0;
}

body{
font-family:verdana,helvetica,arial,sans-serif;
font-size:12px;
text-align:center;
color:#fff;
background:#003d4c;
}

/*
*  General Style Info
*/

a{
color:#003d4c;
text-decoration:none;
}
a:hover{
color:#003d4c;
text-decoration:underline;
}

a img{
border:none;
}

h1, h2,h3{
font-family:'Gill Sans';
font-size:28px;
font-weight:normal;
}
h1{
padding:0.5em 0;
color:#003d4c;
}
em {
 font-size: 12px;
}
h2{
padding-top:0.15em;
margin:0.3em 0;
color:#e32;
}

h3{
font-size:18px;
padding-top:0.5em;
color:#003d4c;
}

h4{
color:#ff9966;
font-size:20px;
padding-top:0.5em;
font-weight:normal;
}

blockquote{
padding: 10px;
padding-left: 20px;
padding-right: 20px;
}

#content ol, #content ul{
margin:0 1em;
padding:0 2em;
}

/*
*  Layout
*/

#container{
text-align:left;
margin-left:0px;
}

#header{
height:200px;
background:#003d4c;
}

#header h1{
color:#fff;
font-family: 'Gill Sans';
font-size: 45px;
font-weight:normal;
}

#header h1.logo {
float:left;
}

#header h1.logo a{
display:block;
width:226px;
height:176px;
background: transparent url('images/logo.gif') no-repeat top;
}

#header h1.logo a:hover{
background:url('images/logo.gif') no-repeat bottom;
}

#content{
width: auto;
min-width: 860px;
min-height: 720px;
padding:15px 20px 50px 20px;
margin: 0px 10px 0px 40px;
color:#333;
background:#fff ;
border-right: 6px solid #222;
}

/*
*  Navigation
*/
#navigation{
float:left;
height: 146px;
width:710px;
background:#003d4c url(images/nav_bg.gif) no-repeat;
padding-left: 20px;
}
#navigation ul{

}

#navigation ul li{
list-style-type:none;
display:inline;
}

#navigation ul li a{
font-weight:bold;
display:block;
float:left;
color:#000;
}

#navigation ul li a span{
display:block;
margin-right:12px;
padding:10px 6px 9px 9px;
}

#navigation ul li.active a span{
padding:10px 6px 9px 9px;
}



#navigation ul li a:hover, #navigation ul li.active a{
background:url(images/nav_item_bg.gif) no-repeat bottom right;
}

#navigation ul li a:hover span,  #navigation ul li.active a span{
background:url(images/nav_item_bg.gif) no-repeat bottom left;
}

#footer {
	color: #fff;
	background-color: #003d4c;
	padding: 4px 10px;
	text-align: right;
}
#footer a{
	color: #fff;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
	height: 0px;
	line-height: 0px;
}


/* tables */

table {  
  width: 100%;   
  border: 0px; 
  color:#333; 
  border: 1px solid #ccc;
  background-color: #fff;
  clear:both;
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}
th {
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #003d4c;
  border-bottom: 1px solid #003d4c;
  text-align: center;
  padding:2px;
}
table tr td {
  border-right: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: center;
}
table tr.altRow td {
  background: #f4f4f4;
}

/* scaffold show */


div.related {
  clear:both;
  display:block;
}
dl {
  line-height:2em;
  margin:1em;
  float:left;
  width: 400px;
}
dt {
  font-weight: bold;
  vertical-align:top;
}
dd {
  margin-left:10em;
  margin-top:-2em;
  vertical-align:top;
}

/* scaffold buttons */


.notice {
  color: #DB8101;
  background-color: #ddd;
  display: block;
  padding: 1em;
}
.tip {
  color: #DB8101;
  background-color: #ddd;
  display: block;
  padding: 1em;
}


/* action links */
ul.actions {
  float:left;
  margin-left: 10px;
  width: 200px;
}
li {
    list-style-image:  url("images/arrow.gif");
}