/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
h1 {
  color: #69c;
  font-size:2.1em;
}
h2 {
  color: #383;
  clear: both;
  display:block;
  font-size:1.7em;
  float:left;
  margin-top:5px;
}
h3 {
  color: #553;
  font-size:1.4em;
}
h4 {
  color: #338;
  font-size:1.15em;
}
a {
  text-decoration:underline;
  white-space:nowrap;
}
a:hover {
  background-color:#eee;
}
code, pre {
  color:#44a;
  font-family:monospace;
  font-size:1.15em;
}
code {
  color:#227;
  margin:0 .2em;
  white-space:nowrap;
}
pre {
  margin-left:1em;
}
acronym {
  border-bottom:1px dotted #666;
}
ul {
  margin-top:1em;
  list-style:none;
}
li {
  margin-left:2em;
}
#container {
  color: #333;
  margin: 2em auto;
  width:80%;
}
.notice {
  background: #ffd;
  border: solid 2px #eeb;
  display: block;
  font-family: Verdana;
  padding: 1em;
}
.tip {
  background: #efe;
  border: solid 2px #cdc;
  padding: 1em;
}
.error {
  background: #fee;
  border: solid 2px #dcc;
  padding: 1em;
}
ul.actions {
  float:left;
  list-style: none;
  text-align:right;
  margin:2em 0;
}
ul.actions li {
  border: 1px solid #333;
  float:left;
  margin-left:1em;
  width:10em;
}
ul.actions li a,  ul.actions li input {
  background-color:#3297FC;
  border:1px solid #3297FC;
  clear: both;
  color: #fff;
  display:block;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
}
td.listactions {
  width:17em;
}
td.listactions a {
  text-align:center;
  font-weight: bold;
  color: #fff;
  background-color:#3297FC;
  display:block;
  float:left;
  text-decoration: none;
  margin-bottom:3px;
  margin-right: 3px;
  border: 1px;
  width:5em;
}
table {
  background-color: #fff;
  border: 1px solid #686E74;
  clear:both;
  margin: 1em 0 2em 0;
  width: 100%;
}
th {
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  text-align: left;
  padding:3px;
  white-space:nowrap;
}
table tr td {
  border-right: 1px solid #ccc;
  padding:2px 0;
  vertical-align:top;
}
table tr.altRow td {
  background: #EBF4FD;
}
div.related {
  clear:both;
  display:block;
  float:left;
}
dl {
  line-height:2em;
  margin:1em;
}
dt {
  font-weight: bold;
  vertical-align:top;
}
dd {
  margin-left:10em;
  margin-top:-2em;
  vertical-align:top;
}