parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- BaseApplication.php
		- Runner.php
		- Session.php
		- vendor/
	ignoreErrors:
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		- '#Unsafe usage of new static\(\).#'
		- "#^Constructor of class Cake\\\\Http\\\\Client\\\\Auth\\\\Digest has an unused parameter \\$options\\.$#"
