parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- BaseApplication.php
		- Runner.php
		- Session.php
		- vendor/
	ignoreErrors:
		-
			identifier: trait.unused
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
		- '#Unsafe usage of new static\(\).#'
		- "#^Constructor of class Cake\\\\Http\\\\Client\\\\Auth\\\\Digest has an unused parameter \\$options\\.$#"
		- '#Call to static method getRequest\(\) on an unknown class Cake\\Routing\\Router.#'
		- '#^Parameter \#1 \$header of static method Cake\\Http\\Cookie\\CookieCollection::createFromHeader\(\) expects list<string>, array<string> given\.$#'
		- '#^Parameter \#2 \$value of method Cake\\Http\\Exception\\HttpException::setHeader\(\) expects list<string>\|string\|null, array given\.$#'
		- '#^Static property Cake\\Http\\MimeType::\$mimeTypes \(array<string, list<string>>\) does not accept non-empty-array<string, array>\.$#'
		- '#^Parameter \#1 \$proxies of method Cake\\Http\\ServerRequest::setTrustedProxies\(\) expects list<string>, array<mixed, mixed> given\.$#'
