<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./Cake/Test/init.php"
	>
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
	</php>

	<testsuites>
		<testsuite name="CakePHP Test Suite">
			<directory>./Cake/Test/TestCase/</directory>
			<exclude>./Cake/Test/TestCase/Model/</exclude>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="\Cake\TestSuite\Fixture\FixtureInjector" file="./Cake/TestSuite/Fixture/FixtureInjector.php">
			<arguments>
				<object class="\Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
	</listeners>
</phpunit>
