parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		- '#Unsafe usage of new static\(\).#'
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
