parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	paths:
		- ./
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			identifier: notIdentical.alwaysTrue
		-
			identifier: missingType.iterableValue
